/* the styles for the elements */
* {
    margin: 0;
    padding: 0;
}


.current a{
    color: yellow;
}

/* styles for body */
body {
    width: 98%;
    max-width: 960px;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #620A73;
    background-color: #FBF5FB;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

/* the styles for the header */

header {
    border-bottom: 3px solid #620A73;
    padding-top: 1.5em;
    padding-bottom: 2em;
    background-image: linear-gradient(30deg, #EFA9EF 0%, #EFA9EF 30%, white 50%, #EFA9EF 80%, #EFA9EF 100%);
    text-align: center;
}

header img { 
    padding-right: 3%;
    padding-left: 3%;
    float: left; 
}

header h2 {
    font-size: 200%;
    color: #620A73;
    padding-bottom: 1%;
}

header h3 {
    font-size: 130%;
    font-style: italic;
}

.shadow { 
    text-shadow: 2px 2px 2px #800000;
}
/* the styles for the navigation menu */
#nav_menu ul {
    width: 167%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}
#nav_menu ul li {
	float: left;
    width: 20%;
}
#nav_menu ul li a {
    display: block;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: #620A73;
    color: white;
    font-weight: bold;
}
#nav_menu a.current {
	color: yellow;
}

/*#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
}
#nav_menu ul ul li {
	float: none;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}*/

}
#nav_menu ul li a {
    color: white;
    display: block;
    width: 17%;
    font-weight: bold;
    text-decoration: none;
    margin: 0;
        padding-bottom: 1em;
        padding-top: 1em;
        padding-left: 3em;
        padding-right: 2.91em;
        background-color: #800000;
        text-align: center;
    
} 
/*#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    right: 0.2%;
    padding-top: 3em;
}
#nav_menu ul ul li {
    float: none;
    padding-left: .25em;
    padding-right: .25em;
}
#nav_menu ul li:hover > ul {
	display: block;
}

#nav_menu > ul::after {
    content: "";
    display: block;
    clear: both;
}*/

aside {
    width: 22%;
    float: left;
    padding-left: 2%;
    padding-bottom: 2%;
}

aside h2 {
    font-size: 105%;
    padding-bottom: .2em;
    text-decoration-color: #620A73;
    text-align: center;
}
aside p {
    border-bottom: 2px solid #620A73;
}
aside img {
    margin-bottom: 1em;
}

aside ul li {
    list-style-type: none;
}

h1 {
    font-size: 150%;
    padding-top: .5em;
    padding-bottom: .25em;
    margin: 0;
}

article {
    padding-top: .5em;
    padding-bottom: .5em;
    /*border-bottom: 2px solid #620A73;*/
    border-top: 2px solid #620A73;
}

article img {
    max-width: 40%;
    min-width: 150px;
    margin-left: 2em;
    float: right;
    margin-top: .5em;
    border: 1px solid black;
}

article h2 {
    padding: 0;
}

article h3 {
    font-size: 105%;
    padding-bottom: .25em;
    padding-top: .25em;
}

article a {
   align-items: center;
}
blockquote: {
    margin-top: -5;
    padding-bottom: 0;
}
cite {
    float: right;
    padding-bottom: 1%;
    padding-top: 0;
}

html {
    background-color: white;
}

a:hover, a:focus { 
    font-style: italic
}

#link {
    margin-top: 5%;
    border-top: 2px solid #620A73;
}

/* the styles for the section */

section {
    width: 65%;
    float: right;  
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 20px;
    background-color: #FBF5FB;
}
section p {
    padding-top: 3%; 
    padding-bottom: 5%;
}
main {
	clear: left;
}

main h2 {
    font-size: 130%;
    color: #620A73;
    padding-top: .5em;
    padding-bottom: .25em;
}

main h3 {
    font-size: 105%;
    padding-bottom: .25em;
}
main img {
    margin-bottom: 1em;
}

main p {
    padding-bottom: .5em;
    align-items: center;
}

main blockquote {
    padding-left: 2em;
    padding-left: 2em;
}

main ul {
    padding-bottom: .25em;
    padding-left: 1.25em;
    list-style-type: circle;
}

main li {
    padding-bottom: .35em;
}

/* the styles for the footer */

footer p {
    background-color: #620A73;
    text-align: center;
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
    clear: both;
}

/* hide mobile menu*/
#mobile_menu {
    display: none;
}
@media only screen and (max-width: 959px) {
    section h1 {
        font-size: 135%;
    }
    section h2 {
        font-size: 120%;
    }
    aside h2 {
        font-size: 120%;
    }
}

@media only screen and (max-width: 767px) {
    header {
        text-align: center;
    }
    header img {
        float: none;
    }
    section {
        width: 92%;
        float: none;
    }
    aside {
        width: 92%;
        padding-left: 2%;
        padding-right: 2%;
        float: none;
    }
    article img {
        max-width: 30%;
    }
    #columns {
        column-count: 2;
    }
    
}

@media only and screen (max-width: 479px) {
    base {
        font-size: 90%       
        }
    #nav_menu {
        display:none;
    }
    #mobile_menu {
        display: block;
    }
    .slicknav_menu {
        background-color: #800000;
    }
}